<div class="page-heading animated fadeInDownBig">
	<h1>Clientes <small></small></h1>
</div>
<div class="box-info full animated fadeInDown">
	<h2><strong>Clientes</strong> data table</h2>
	<div class="additional-box">
		<button id="modal-add" class="btn btn-primary">Add</button>
	</div>
	<div class="data-table table-responsive">
		
	</div>
	
</div>
        
        
<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="nuevo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Cliente</h4>
      </div>
      <div class="modal-body">
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button id="btn-guardar" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>