<%_.each(objetos, function (elemento) {%>
	<tr>
		<td><%=elemento.id%></td>
		<td><input type="checkbox" class="rows-check"></td>
		<td><strong><%=elemento.nombre%></strong></td>
		<td><%=elemento.creado%></td>
		<td><a href="mailto:#"><%=elemento.email%></a></td>
		<td><span class="label label-success">Active</span></td>
		<td>
			<div class="btn-group btn-group-xs">
				<a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>
				<a data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
			</div>
		</td>
	</tr>
<%});%>
