<div class="container">
	
	<div class="full-content-center animated fadeInDownBig">
			<a href=""><img src="/frontend/vendor/lanceng-tpl/assets/img/logo-login.png" class="logo-login img-circle" alt="Logo"></a>
			<div class="login-wrap">
				<div class="box-info">
				<h2 class="text-center"><strong>Login</strong> form</h2>
				
					<form role="form">
						<div class="form-group login-input">
						<i class="fa fa-sign-in overlay"></i>
						<input id="username" type="text" class="form-control text-input" placeholder="Username">
						</div>
						<div class="form-group login-input">
						<i class="fa fa-key overlay"></i>
						<input id="password" type="password" class="form-control text-input" placeholder="Password">
						</div>
						<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
							<button id="btnLogin" type="submit" class="btn btn-success btn-block"><i class="fa fa-unlock"></i> Login</button>
							</div>
							<div class="col-sm-6">
							<a href="register.html" class="btn btn-default btn-block"><i class="fa fa-rocket"></i> Register</a>
							</div>
						</div>
					</form>
					
					<p class="text-center"><strong>- or -</strong></p>
					
					<button type="button" class="btn btn-primary btn-block btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook account</button>
					<button type="button" class="btn btn-primary btn-block btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter account</button>
					
				</div>
				<p class="text-center"><a href="forgot-password.html"><i class="fa fa-lock"></i> Forgot password?</a></p>
			</div>
	
</div> <!-- /container -->